/* You can add global styles to this file, and also import other style files */
body{
    height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(black, rgb(134, 0, 0)); 
}